*
{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.contenedor-todo
{
  width: 210px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
 
}
.content-carrousel
{
  width: 50%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
  margin-right: auto;
  margin-left: auto;
}
.content-carrousel:hover
{
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrousel figure
{
  width: 200px;
  height: 130px;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}
.content-carrousel figure:hover
{
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}
.content-carrousel figure:nth-child(1){transform: rotateY(0deg)translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg)translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg)translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg)translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg)translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg)translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg)translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg)translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg)translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg)translateZ(300px);}

.content-carrousel img
{
  width: 100%;
  transition: all 300ms;
}
.content-carrousel img:hover
{
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar 
{
  from
  {
    transform: rotateY(0deg);
  }
  to
  {
    transform: rotateY(360deg);
  }
}

.content-section
{
  margin: 1em;

}

.conteiner
{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
  font-size:larger;
}

.section-header
{
  font-family: "Sriracha";
  font-size: xx-large;
  color: #333;
}

.album-fotos
{
  font-family: "Sriracha";
  font-size: xx-large;
  color: #333;
}
.imagen-personal
{
  display: block ;
  width: 450px;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
  border-radius: 50%;
}

.imagen-con-flia
{
  width: 450px;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
}
.imagen-familia
{
  width: 450px;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
}

.main-footer
{
  background-color: rgba(0, 0, 0, .6);
  background-image: url(./FotosBlog/fondoPCB.jpeg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

.main-footer-conteiner
{
  display:flex;
  align-items: center;
}

.main-footer-conteiner h3
{
  font-family: "Tenali Ramakrishna";
  color: white;
  font-weight: lighter;
  font-size: xx-large;
}

.main-footer-conteiner ul
{
  flex-grow: 1;
  text-align: end;
}

.footer-nav li
{
  padding: 0 5%;
}

.footer-nav img
{
  width: 50px;
}
#que-es-flia 
{
  font-family: "Sriracha", cursive;
  font-size: x-large;
}
#los-quiero
{
  font-family: "Dancing Script";
  font-size: xxx-large;  
  text-align: center;
}