*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(./FotosBlog/color.JPG);
    background-size: cover;
}
.main-header{
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 5px; 
  }
  
  .nav ul{
    margin: 0;  
  }
  
  .nav li{
    display: inline;
  }
  
  .nav a {
    display: inline-block;
    padding: 1em;
    color:white;
    text-decoration:none;
  }
  
  .nav a:hover
  {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
  
  .main-nav li
  {
    padding: 0 5%;
  }
  
  #tabla a
  {
    font-family:"Acme ";
  }
.content-todo
{
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 3%;
    overflow: hidden;
    perspective: 800px;
    box-shadow: 0 20px 40px black;
}

.content-imagen
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-100%) rotateY(360deg);
    opacity: 0;
    transition: all 1s;
}
#imagen-1
{
    transform: translateX(0);
    opacity: 1;
}

.content-imagen:target
{
    transform: translateX(0) rotateY(0deg);
    opacity: 1;
}
.content-imagen img
{
    width: 100%;
    height: 100%;
}
.icon-left-open
{
    position: absolute;
    top: 250px;
    margin-left: -8px;
    font-size: 20px;
    text-decoration: none;
    color:black;
}
.icon-left-open:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}
.icon-right-open
{
    position: absolute;
    top: 250px;
    left:478px;   
    font-size: 20px;
    text-decoration: none;
    color:black;
}
.icon-right-open:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}