/* Tipografías */

@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
  box-sizing: border-box;
  font-family: "Amiri";
  color: rgba(0, 0, 0, 0.418), 0.418), 0.418), 0.11);
}
head, body 
{  
  margin: 0;
  padding: 0;
  background-color: rgba(106, 208, 255, 0.4);
}


/* estilos de header */

.main-header{
  background-image: url("./FotosBlog/fondoPCB.jpeg");
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px; 
}

.nav ul{
  margin: 0;  
}

.nav li{
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 1em;
  color:white;
  text-decoration:none;
}

.nav a:hover
{
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav{
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.main-nav li
{
  padding: 0 5%;
}

#tabla a
{
  font-family:"Acme ";
}

.nombre 
{
  text-align: center;
  margin: 0.5em;
  font-family: "Tenali Ramakrishna";
  font-weight: normal;
}

.nombre-principal
{
  font-size: 4em;
  color: white;
}
#icon-menu
{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 20px;
  background-color: #fafafafa;
  border-radius: 100%;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
#icon-menu:hover
{
  opacity: 0.8;
}

.content-section
{
  margin: 1em;

}

.conteiner
{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
  font-size:larger;
}

.section-header
{
  font-family: "Sriracha";
  font-size: xx-large;
  color: #333;
}

.album-fotos
{
  font-family: "Sriracha";
  font-size: xx-large;
  color: #333;
}
.imagen-personal
{
  display: block ;
  width: 450px;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
  border-radius: 50%;
}

.imagen-con-flia
{
  width: 450px;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
}
.imagen-familia
{
  width: 450px;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right:auto;
}

.main-footer
{
  background-color: rgba(0, 0, 0, .6);
  background-image: url(./FotosBlog/fondoPCB.jpeg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

.main-footer-conteiner
{
  display:flex;
  align-items: center;
}

.main-footer-conteiner h3
{
  font-family: "Tenali Ramakrishna";
  color: white;
  font-weight: lighter;
  font-size: xx-large;
}

.main-footer-conteiner ul
{
  flex-grow: 1;
  text-align: end;
}

.footer-nav li
{
  padding: 0 5%;
}

.footer-nav img
{
  width: 50px;
}
#que-es-flia 
{
  font-family: "Sriracha", cursive;
  font-size: x-large;
}
#los-quiero
{
  font-family: "Dancing Script";
  font-size: xxx-large;  
  text-align: center;
}
.dark-mode-button 
{
  position: absolute;
  top: 10x;
  left: 10px;
  padding: 10px;
  background: white;
}
html.dark-mode
{
  filter: invert(100%);
}
html.dark-mode img 
{
  filter: invert(100%);
}

.contenedor-todo
{
  width: 210px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
  height: 180px; 
}
.content-carrousel
{
  width: 100%;
  position: absolute;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}
.content-carrousel:hover
{
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrousel figure
{
  width: 200px;
  height: 130px;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}
.content-carrousel figure:hover
{
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}
.content-carrousel figure:nth-child(1){transform: rotateY(36deg)translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(72deg)translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(108deg)translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(144deg)translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(180deg)translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(216deg)translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(252deg)translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(288deg)translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(324deg)translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg)translateZ(300px);}


.content-carrousel img
{
  width: 100%;
  transition: all 300ms;
}
.content-carrousel img:hover
{
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar 
{
  from
  {
    transform: rotateY(0deg);
  }
  to
  {
    transform: rotateY(360deg);
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { }

